.button {
  background-color: #ff5c00;
  border: none;
  cursor: pointer;
  height: 45px;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Inter";
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.1s;
}

.button:hover {
  background-color: #ea5600;
}

.marca_dagua {
  height: 50px;
  margin-top: 30px;
  background-image: url("../../../assets/marca_dagua.png");
  background-position: center;
  background-repeat: no-repeat;
}
