@media (min-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 730px;
    margin: 0 auto;
    margin-bottom: 120px; /* Altura máxima do contêiner para ativar o scroll */
    /* overflow-y: auto; */
    color: #0d0d0d;
    font-weight: 400;
    position: relative;
    font-size: 0.95rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    box-sizing: border-box;
    min-height: auto; /* Altura da caixa de chat */
  }

  .container::-webkit-scrollbar {
    width: 0; /* Oculta a barra de rolagem vertical do contêiner */
  }

  .markdown ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    list-style: none; /* Remove o marcador padrão */
    counter-reset: list-item; /* Inicializa o contador de itens */
  }

  .markdown ol li {
    display: list-item; /* Garante que o elemento seja tratado como item de lista */
    counter-increment: list-item; /* Incrementa o contador */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1rem;
  }

  .markdown ol li::marker {
    content: counter(list-item) ". "; /* Define o número como marcador */
    color: #303030;
  }

  .markdown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 2em;
    list-style: none; /* Remove o marcador padrão */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .markdown ul li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 0.375em;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }

  .markdown ul li::marker {
    content: "●  "; /* Define um círculo como marcador */
    font-size: 0.8rem;
  }

  .markdown strong {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .markdown p {
    font-size: 1rem;
    font-weight: 500;
    white-space: pre-wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .markdown code {
    background-color: rgb(237, 237, 237);
    border-radius: 0.25rem;
    font-size: 0.875em;
    font-weight: 400;
    padding: 0.15rem 0.3rem;
    font-family: "Inter";
  }

  .markdown h1 {
    font-weight: 700;
    letter-spacing: -0.04rem;
    background-color: transparent;
    font-size: 2.25em;
    line-height: 1.1111111;
    margin-bottom: 0.8888889em;
  }

  .markdown h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    line-height: 1.5;
  }

  .markdown hr {
    border-color: rgba(255, 255, 255, 0.727);
    border-top-width: 0.1px;
    border-bottom-width: 0.1px;
    margin-bottom: 3em;
    margin-top: 3em;
  }

  .markdown h3 {
    font-weight: 600;
    font-size: 1.3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-bottom: 0.5em;
  }
  .markdown h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-top: 2rem;
  }

  .markdown h5 {
    font-weight: 600;
  }

  .markdown img {
    width: 500px;
  }
  .markdown a {
    color: #393fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .markdown a:hover {
    color: #787dff;
    font-weight: 400;
    text-decoration-line: none;
  }

  .markdown blockquote {
    border-left-width: 2px; /* Espessura da borda */
    border-left-style: solid; /* Estilo da borda */
    border-left-color: #e4e4e4; /* Cor da borda */
    padding-left: 1rem; /* Espaço entre a borda e o texto */
    line-height: 1.5rem;
    margin: 0;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
  }

  .markdown table {
    border-spacing: 0; /* Define o espaçamento entre as células */
    margin: 25px 0;
    border: 0.1px solid #d8d8d8;
    width: 100%;
    font-size: 0.9em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    min-width: 400px;
    border-radius: 5px; /* Aplica o border-radius na tabela */
  }

  .markdown thead tr {
    background-color: #e5e5e5;
    text-align: left;
  }
  .markdown th {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
  }

  .markdown th {
    padding: 6px 7.5px;
    border-bottom: 0.1px solid #c0c0c0;
    border-right: 0.1px solid #c0c0c0;
  }

  .markdown td {
    padding: 6px 7.5px;
    border-bottom: 0.1px solid #c0c0c0;
    border-right: 0.1px solid #c0c0c0;
  }

  .markdown tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .markdown tbody tr:last-of-type {
    border-bottom: 2px solid #aeaeae;
  }

  .markdown tbody tr.active-row {
    font-weight: bold;
    color: #4e4e4e;
  }
  span {
    color: rgb(83, 83, 83);
    font-style: italic;
  }
  .source {
    width: 90px;
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .source:hover {
    background-color: rgb(243, 243, 243);
  }

  .message_user {
    padding: 13px 20px;
    margin-top: 0px;
    position: relative;
    color: #242424;
    font-family: "Inter";
    border-top-right-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 10px;
    max-width: 80%; /* Ajuste conforme necessário */
  }

  .message {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    max-width: 100%; /* Ajuste conforme necessário */
    line-height: 1.75; /* Aumento do espaçamento vertical entre as letras */
    /* Aumento do espaçamento vertical entre as letras */
  }

  .bot {
    align-self: flex-start;
  }

  .user {
    align-self: flex-end;
    background-color: #f5f5f5;
  }

  .cursor {
    display: inline-block;
    width: 1ch;
    animation: flicker 1s infinite;
  }

  @keyframes flicker {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }

  /* ChatBox.module.css */

  .messages {
    flex: 1; /* Ocupa o espaço restante */
    margin-bottom: auto; /* Empurra o input para a parte inferior */
  }

  .inputContainer {
    padding-bottom: 25px;
    display: flex;
    width: 740px;

    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    align-items: center;
  }

  .input {
    flex: 1;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
  }
}
@media (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Ocupa 100% da largura disponível */
    max-width: 550px; /* Limita a largura máxima */
    overflow-x: hidden;
    margin: 0 auto;
    margin-bottom: 100px; /* Altura máxima do contêiner para ativar o scroll */
    /* overflow-y: auto; */
    color: #0d0d0d;
    font-weight: 400;
    position: relative;
    font-size: 15px;
    font-family: "Inter";
    box-sizing: border-box;
    min-height: auto; /* Altura da caixa de chat */
  }

  .container::-webkit-scrollbar {
    width: 0; /* Oculta a barra de rolagem vertical do contêiner */
  }
  span {
    color: rgb(83, 83, 83);
    font-style: italic;
  }

  .message_user {
    padding: 13px 20px;
    margin-top: 0px;
    position: relative;
    color: #0f0f0f;
    border-top-right-radius: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 10px;
    max-width: 80%; /* Ajuste conforme necessário */
  }

  .message {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    max-width: 100%; /* Ajuste conforme necessário */
    line-height: 30px; /* Aumento do espaçamento vertical entre as letras */
    /* Aumento do espaçamento vertical entre as letras */
  }

  .bot {
    align-self: flex-start;
  }

  .user {
    align-self: flex-end;
    background-color: #f5f5f5;
  }

  .cursor {
    display: inline-block;
    width: 1ch;
    animation: flicker 1s infinite;
  }

  @keyframes flicker {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }

  /* ChatBox.module.css */

  .messages {
    flex: 1; /* Ocupa o espaço restante */
    margin-bottom: auto; /* Empurra o input para a parte inferior */
  }

  .inputContainer {
    padding: 10px;
    display: flex;
    width: 100%; /* Ocupa 100% da largura disponível */
    max-width: 550px; /* Limita a largura máxima */
    align-self: center;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    align-items: center;
  }

  .input {
    flex: 1;
    padding-bottom: 10px;

    font-size: 14px;
    border-radius: 4px;
    outline: none;
  }
}
